= form_for(@journal) do |f|
  - if @journal.errors.any?
    #error_explanation
      %h2
        = pluralize(@journal.errors.count, "error")
        prohibited this journal from being saved:
      %ul
        - @journal.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :url_title
    %br/
    = f.text_field :url_title
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit
